<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="mb-3">
          <label for="email" class="form-label">Nombre</label>
          <input [(ngModel)]="nombre" type="text" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="seguidores" class="form-label">precio</label>
          <input [(ngModel)]="precio" type="text" class="form-control" id="seguidores" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">cantidad_stock</label>
          <input [(ngModel)]="cantidad_stock" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
  
        <button type="button" class="btn btn-primary" (click)="crear()" >Crear</button>
  
    </div>
  </div>
