<div class="row">
  <div class="col-md-6 mx-auto mt-5">
      <div class="mb-3">
        <label for="email" class="form-label">Nombre del canal</label>
        <input [(ngModel)]="nombre_canal" type="text" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="seguidores" class="form-label">numero de seguidores del canal</label>
        <input [(ngModel)]="numero_seguidores" type="text" class="form-control" id="seguidores" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">url del video</label>
        <input [(ngModel)]="url" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button type="button" class="btn btn-primary" (click)="actualizar()" >Actualizar</button>

  </div>
</div>
